@import 'tailwindcss';
@import 'tw-animate-css';

/* Utilities */
@import './plugins.css';

/* Base styles */
@import './base.css';

/* Fonts */
@import './font.css';

/* Themes */
@import './themes.css';

/* Utilities */
@import './utilities.css';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
