:root {
  --radius: 0.5rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.2099 0.0341 263.44);

  --primary: oklch(51.791% 0.1857 258.363);

  --primary-foreground: oklch(100% 0.00011 271.152);

  --secondary: oklch(0.2099 0.0341 263.44);
  --secondary-foreground: oklch(100% 0.00011 271.152);

  --card: oklch(0.97 0.0029 264.54);
  --card-foreground: oklch(0.2099 0.0341 263.44);

  --popover: oklch(97.614% 0.00011 271.152);
  --popover-foreground: oklch(0.2099 0.0341 263.44);

  --muted: oklch(79.888% 0.00171 66.601);
  --muted-foreground: oklch(62% 0 260);

  --ghost: oklch(100% 0 0 / 0);
  --accent: oklch(64.007% 0.31728 15.548);

  --accent-foreground: oklch(100% 0.00011 271.152);

  --destructive: oklch(66.759% 0.21942 25.406);
  --destructive-foreground: oklch(96.515% 0.00967 16.701);

  --border: oklch(0.9197 0.004 286.32);
  --input: oklch(95% 0 260);
  --ring: oklch(51.791% 0.1857 258.363);

  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.6877 0.0768 255.62);
  --primary-foreground: oklch(13% 0.02 255); /* Текст на кнопке темный */
  --secondary: oklch(100% 0.00011 271.152);
  --secondary-foreground: oklch(0.2099 0.0341 263.44);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(64.007% 0.31728 15.548);
  --accent-foreground: oklch(1 0 270);
  --destructive: oklch(62.52% 0.1912 28.004);
  --destructive-foreground: oklch(0.95 0.03 15);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.68 0.18 255);

  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
