:root {
  --radius: 0.75rem;

  --background: oklch(0.9798 0.0045 78.3);
  --foreground: oklch(14.48% 0 260);

  --primary: oklch(68.258% 0.15257 160.776);
  --primary-foreground: oklch(100% 0.00011 271.152);

  --secondary: oklch(0% 0 0);
  --secondary-foreground: oklch(100% 0.00011 271.152);

  --card: oklch(100% 0 0);
  --card-foreground: oklch(14.48% 0 260);

  --popover: oklch(94% 0.02 255);
  --popover-foreground: oklch(14.48% 0 260);

  --muted: oklch(79.888% 0.00171 66.601);
  --muted-foreground: oklch(62% 0 260);

  --ghost: oklch(100% 0 0 / 0);
  --accent: oklch(64.007% 0.24728 18.648);
  --accent-foreground: oklch(100% 0.00011 271.152);

  --destructive: oklch(66.759% 0.21942 25.406);
  --destructive-foreground: oklch(96.515% 0.00967 16.701);

  --border: oklch(0.9197 0.004 286.32);
  --input: oklch(95% 0 260);
  --ring: oklch(82% 0.208 151);
}

.dark {
  --background: oklch(0.2103 0.0059 285.89);
  --foreground: oklch(0.97 0.005 160);
  --primary: oklch(68.258% 0.15257 160.776);
  --primary-foreground: oklch(0.12 0.03 160);
  --secondary: oklch(100% 0.00011 271.152);
  --secondary-foreground: oklch(0% 0 0);
  --card: oklch(0.2443 0.0038 286.12);
  --card-foreground: oklch(0.95 0.004 280);
  --popover: oklch(0.22 0.006 260);
  --popover-foreground: oklch(0.95 0.004 280);
  --muted: oklch(0.3 0.005 260);
  --muted-foreground: oklch(0.7 0.012 280);
  --accent: oklch(64.007% 0.24728 18.648);
  --accent-foreground: oklch(1 0 270);
  --destructive: oklch(62.52% 0.1912 28.004);
  --destructive-foreground: oklch(0.95 0.03 15);
  --border: oklch(0.38 0.016 280);
  --input: oklch(0.24 0.008 280);
  --ring: oklch(0.68 0.16 160);
}
