:root {
  --radius: 0.75rem;

  --background: oklch(96.92% 0.00353 248.573);
  --foreground: oklch(14.48% 0 260);

  --primary: oklch(82% 0.208 151);
  --primary-foreground: oklch(22.211% 0.05115 158.939);

  --secondary: oklch(0% 0 0);
  --secondary-foreground: oklch(100% 0.00011 271.152);

  --card: oklch(100% 0 0);
  --card-foreground: oklch(14.48% 0 260);

  --popover: oklch(94% 0.02 255);
  --popover-foreground: oklch(14.48% 0 260);

  --muted: oklch(82% 0.01 255);
  --muted-foreground: oklch(62% 0 260);

  --ghost: oklch(100% 0 0 / 0);
  --accent: oklch(51.054% 0.16569 287.383);
  --accent-foreground: oklch(100% 0 0);

  --destructive: oklch(71.18% 0.18224 32.072);
  --destructive-foreground: oklch(59.629% 0.23885 28.694);

  --border: oklch(88% 0 260);
  --input: oklch(95% 0 260);
  --ring: oklch(82% 0.208 151);
}

.dark {
  --background: oklch(14.25% 0.004 250);
  --foreground: oklch(96% 0.003 260);

  --primary: oklch(80.98% 0.20302 150.883);
  --primary-foreground: oklch(12% 0.02 151);

  --secondary: oklch(100% 0.00011 271.152);
  --secondary-foreground: oklch(9.693% 0.00001 271.152);

  --card: oklch(18% 0.004 260);
  --card-foreground: oklch(96% 0.003 260);

  --popover: oklch(22% 0.006 260);
  --popover-foreground: oklch(96% 0.003 260);

  --muted: oklch(30% 0.005 260);
  --muted-foreground: oklch(70% 0.01 260);

  --ghost: oklch(100% 0 0 / 0);
  --accent: oklch(53.45% 0.12413 285.907);
  --accent-foreground: oklch(100% 0.00011 271.152);

  --destructive: oklch(50.772% 0.18643 31.857);
  --destructive-foreground: oklch(68.04% 0.20874 30.776);

  --border: oklch(28% 0.003 260);
  --input: oklch(24% 0.004 260);
  --ring: oklch(72% 0.18 151);
}
