@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .label-required::after {
    content: '*';
    @apply text-destructive;
  }

  .label-optional::after {
    content: '*';
    @apply text-muted-foreground;
  }

  .card-focused {
    @apply md:-translate-y-2 drop-shadow-lg  md:drop-shadow-2xl drop-shadow-accent/15 dark:drop-shadow-primary/15 z-30;
  }
}
